<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
<title>Luo lippuja</title>
</head>
<body>
	<div class="pt-3 pb-3 pr-3" style="background-color:lightgrey">
	<div th:if="${param.error}">
		Lippujen lisääminen epäonnistui.
	</div>
	<h5 class="pl-3 pb-3" th:text="'Lisää tapahtumaan ' + *{tapahtuma.tapahtumaNimi} + ' lippuja'"></h5>
	</div>
	<div sec:authorize="hasAuthority('TUOTTAJA')">
	<div class="container-fluid">
		<div class="text-center col-md-4">
			<form th:object="${lippu}" th:action="@{../tallennalippuja}" action="#" method="post">
				<label for="hinta">Lipun hinta (ee,ss): </label> <input type="number" id="hinta" th:field="*{hinta}" class="form-control"/>
						<span th:if="${#fields.hasErrors('hinta')}" th:errors="*{hinta}">Hinnassa virhe.</span>
						
				<input type="hidden" id="tapahtuma" th:field="*{tapahtuma}" value="*{tapahtuma}" class="form-control" />
				
				<div style="clear: both; display: block; height: 10px;"></div>
				<label for="catlist">Lipun tyyppi: </label> <select id="catlist"th:field="*{lippuTyyppi}" class="form-control">
					<option th:each="lipputyyppi: ${lipputyypit}"
						th:value="${lipputyyppi.lipputyyppiId}"
						th:text="${lipputyyppi.lipputyyppiNimi}">
					</option>
				</select>
				
				<div style="clear: both; display: block; height: 10px;"></div>
				<label for="montakoLippua">Lippujen määrä: </label> <input type="number" id="montakoLippua" th:field="*{montakoLippua}" class="form-control" />
					<span th:if="${#fields.hasErrors('montakoLippua')}" th:errors="*{montakoLippua}">Lukumäärä ei voi olla 0.</span>
				<div class="pt-3 pb-3">
				<input class="btn btn-success" type="submit"value="Lisää lippuja"></input>
				</div>
			</form>
			<a th:href="@{/../tapahtumalista}" class="btn btn-primary">Takaisin</a>
	</div>
	</div>
	</div>
	<script>
	$(document).ready(function(){
		$("#hinta").focus();
	});
	</script>
</body>
</html>