<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<title>Varaa lippu</title>
</head>
<body style="background-image:url('../css/audience-1850119_1920.jpg'); color:#fff">
	<div th:if="${param.error}">
		Lippujen varaaminen epäonnistui.
	</div>
	<div class="text-center pt-3 pb-3">
	<h5 class="pl-5 text-center" th:text="'Varaa liput tapahtumaan ' + *{tapahtuma.tapahtumaNimi}"></h5>
	</div>
	<div sec:authorize="hasAuthority('ASIAKAS')">
	 	<div class="text-right pr-3" th:text="'Lippuja tapahtumaan ' + ${#lists.size(tapahtuma.liput)}"></div>
		<div class="container-fluid">
			<table style="color:#fff" class="table table-striped">
		<tr class="container-fluid">
			<th>Id</th>
			<th>Lipputyyppi</th>
			<th>Hinta</th>
			<th>Varaa lippu</th>
			<th>Lisätietoja<th>
		</tr>
 		<tr class="container-fluid" th:each="lippu : ${liput}">
 			<td th:text="${lippu.lippuId}"></td>
			<td th:text="${lippu.lippuTyyppi}"></td>
			<td th:text="${lippu.hinta}"></td>
			<td><a th:if="${lippu.tila == 'Vapaa'}" th:href="@{../varaaliput/{kayttajaNimi}/{lippuId} (kayttajaNimi=${kayttajaNimi}, lippuId=${lippu.lippuId})}" class="btn btn-success">Varaa lippu</a>
				<span th:if="${lippu.tila == 'Varattu'}" class="btn btn-danger">Varattu</span>			
			</td>
			<td th:if="${lippu.tila == 'Peruttu'}">Lippuja ei ole saatavilla, koska tapahtuma on peruutettu!</td>
		</tr>
			</table>
		</div>
			<div class="text-center pt-4 pb-3">
	<div class="pl-3 pb-3">
	<a th:href="@{/../tapahtumalista}" class="btn btn-success">Takaisin</a>
	</div>
	</div>
	</div>
</body>
</html>